{{> head }}

{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Gatito triste</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda maiores repudiandae distinctio delectus eaque. Ut eveniet consectetur placeat unde cumque eos similique neque! Voluptate aut fugiat animi dolore vero. Dolore.
        </p>
    </div>
    <div class="col-4">
        <img src="./assets/img/gato.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}